body{
    margin: 0;
    padding: 0;
   
}
.content{
    background-color: rgb(230, 220, 210);
    height: fit-content;
    width: 650px;
    padding-left: 60px;
    margin-left: 40px;
    border-radius: 10px;
    
}
.search-form-input{
    height: 45px;
    width: 450px;
    border: ipx solid rgb(126, 70, 70);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    right: 30px;
   
}
.search-form-button{
     height: 65px;
     width: 150px;
     border: none;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    background-color: rgb(84, 84, 184);
    
    
}
h1{
    font-size: 50px;
    font-variant: small-caps;
}
#heading{
    font-size: 50px;
    font-variant: small-caps;
   
    width: fit-content;
    background-color: rgb(245, 230, 210);
}
.unit{
    position: relative;
    left: 520px;
    bottom: 210px;
    font-size: 50px;
}
#icon{
    position: relative;
    left: 430px;
    bottom: 150px;
    font-size: 50px;
}

.footer a{
    text-decoration: none;
    color: rgb(62, 62, 124);
}
#wind-speed{
    color:rgb(45, 170, 93);
}
#humidity{
    color: rgb(152, 204, 31);
}
#description{
    color:rgb(218, 151, 51);
}
/* styling the weekdays forecast*/

.tuesday{
    text-align: center;
    color: rgb(66, 64, 64);
    
}
.forecast-icon{
    text-align: center;
}
.forecast-temperature{
    text-align: center;
}
.weather-prediction{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 90px;
}